<div class="dashboard-container">
  <header class="dashboard-header">
    <div class="header-content">
      <h1>{{user?.fullName}} Banking Dashboard</h1>
      <div class="header-actions">
        <button mat-stroked-button (click)="refreshData()" [disabled]="isLoading">
          <mat-icon>refresh</mat-icon>
          Refresh
        </button>
        <button mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </div>
    </div>
  </header>

  <!-- Transactions Tab -->
  <div class="transactions-filter-container">
    <mat-form-field appearance="fill">
      <mat-label>Accounts</mat-label>
      <mat-select [formControl]="accountsControl" multiple>
        @for (account of accounts; track account.accountId) {
          <mat-option [value]="account.accountId">{{account.displayName}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="getTransactions()"
      [disabled]="accountsControl.value?.length === 0">View Transactions</button>
  </div>

  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }

  @if (isLoading) {
    <div class="loading-container">
      <mat-spinner></mat-spinner>
      <p>Loading your banking data...</p>
    </div>
  }

  @if (transactions.length === 0) {
    <div class="no-data">
      No transactions available
    </div>
  }


  @if (transactions.length > 0) {
    <div class="transactions-container">
      <table mat-table [dataSource]="transactions" class="transactions-table">
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.timestamp | date:'short' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="transaction_category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.transaction_category }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let transaction">
            <span class="amount" [class.positive]="transaction.amount >= 0" [class.negative]="transaction.amount < 0">
              {{ transaction.currency }} {{ transaction.amount | number:'1.2-2' }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  }
</div>